# Node.js
node_modules/

# VSCode
.vscode/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Mac OS
.DS_Store

# Primno CLI
dist/tsc.mjs
build/
.nyc_output
.cache